/.circleci
/.env
/.git
/.idea
/.vscode
/.vagrant

/node_modules
/vendor

/public/hot
/public/storage
/public/dist

/bootstrap/cache/*

/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/*.key

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
